<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(@photo.data)).html_safe %>
</p>

<p>
  <strong>Time:</strong>
  <%= @photo.time %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
