<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @photo.data %>
</p>

<p>
  <strong>Time:</strong>
  <%= @photo.time %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
